$theme-color-1: #1e2a38;
$theme-color-2: #4D5B6C;
$theme-color-3: #081320;
$theme-color-4: #4A6D63;
$theme-color-5: #C9B89C;
$theme-green-dark: #565c32;
$theme-green-light: #7a8545;
$theme-inset-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.9) inset;
$theme-card-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
0 3px 6px rgba(0, 0, 0, 0.23);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  font-family: 'Open Sans', sans-serif;
  background: $theme-color-1;
}

header,
footer {
  display: flex;
  align-items: center;
  background: $theme-color-1;
  color: white;
  padding: 0 10px;
  strong {
    display: block;
  }
}
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
  a {
    color: white;
    font-weight: bold;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hero-list {
  background: $theme-color-1;
  .hero {
    background: $theme-color-3;
    box-shadow: $theme-card-shadow;
  }
}

main {
  background: lighten($theme-color-1, 4);
}

.chessboard {
  .square {
    display: flex;
  }
  >* {
    background-color: $theme-green-light;
  }
  >* {
    @each $offset in 2 4 6 8 9 11 13 15 {
      &:nth-child(16n+#{$offset}) {
        background-color: $theme-green-dark;
      }
    }
  }
}

.synergy-item {
  margin: 1vw;
  text-align: center;
  text-transform: capitalize;
  .synergy-item-count {
    border-radius: 50%;
    font-weight: 600;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 1.9rem;
    >div {
      text-shadow: 1px 3px #000;
    }
  }
}

.synergy-item-body {
  border-left: 2px solid $theme-color-1;
}

.active-synergy {
  padding: 5px;
  background: lightgreen;
}

.missing-synergy {
  padding: 5px;
  background: lightcoral;
}

.focus-container {
  background: lighten($theme-color-1, 5);
  color: white;
}

.synergy-active {
  box-shadow: $theme-card-shadow;
  display: grid;
  grid-template-columns: 1fr;
   > * {
    display: flex;
    justify-content: center;
    align-items: center;
   }
}
