.selected {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.disabled {
  filter: grayscale(100%);
}

.hero {
  display: flex;
  align-items: flex-end;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  > span {
    display: block;
    color: white;
    background: rgba(0,0,0,.5);
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  &:hover {
    opacity: .3;
  }
}
