@import "./Mobile.scss";
@import "./heroes.scss";
@import "./general.scss";

.container {
  display: grid;
}
.container > div {
  padding: 10px;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.side {
  grid-area: side;
}
.footer {
  grid-area: footer;
}

.header {
  display: flex;
  align-items: center;
}

.active-filters {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 10px;
  > strong {
    flex: 1 1 100%;
    color: white;
  }
  > div {
    flex: 0 1 calc(100%/3 - 20px);
  }
}
