$theme-color-1: #1e2a38;
header {
  justify-content: space-between;
}

label {
  padding-right: 10px;
  .menu {
    display: flex;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 $theme-color-1, 0 0 0 0 $theme-color-1;
    cursor: pointer;
    text-align: right;
  }
  .hamburger {
    position: relative;
    margin-left: 10px;
    width: 30px;
    height: 2px;
    background: #fff;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
    &:after,
    &:before {
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 2px;
      background: #fff;
    }
    &:before {
      top: 16px;
    }
    &:after {
      bottom: -7.5px;
    }
  }
  input {
    display: none;
  }
  input:checked+.menu {
    border-radius: 0;
    .hamburger {
      margin-top: 7px;
      transform: rotate(45deg);
      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }
      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }
}
