@media only screen and (max-width: 600px) {
  .container {
    grid-template-areas: "header header header header"
    "side side side side"
    "main main main main"
      "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 3fr 80px;

    .all-heroes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(19, minmax(18vw, 1fr));
    }

    .selected-heroes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, minmax(8vw, 1fr));
    }

    .active-list {
      padding: 0;
      display: flex;
      flex-flow: row wrap;
    }

    .active-synergies,
    .all-synergies {
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      align-content: center;

      >* {
        &:first-child {
          flex: 1 1 100%;
        }

        flex: 1 1 100%;
      }
    }
  }


}

@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "header header header header"
      "main main main side"
      "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 60px
  }

  .all-heroes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(19, minmax(5vw, 1fr));
  }

  .selected-heroes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, minmax(8vw, 1fr));
  }

  .active-list {
    display: flex;
    flex-flow: row wrap;
  }

  .active-synergies,
  .all-synergies {
    display: flex;
    flex-flow: row wrap;
    align-content: center;

    >* {
      &:first-child {
        flex: 1 1 100%;
      }

      flex: 0 1 45%;
    }
  }
}
