@import "./heroes.scss";
@import "./general.scss";
@import "./menu.scss";
$chess-square-size: 100px;
$hero-square-width: 80px;
html,
body,
.container {
  width: 100%;
  height: 100%;
}

#root {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 60px;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));
  overflow: scroll;
}

.chessboard-container {
  position: sticky;
  top: 0;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, minmax(40px, 1fr));
  grid-template-rows: repeat(4, minmax(40px, 1fr));
}

.hero-list {
  position: absolute;
  right: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 120px));
  grid-auto-rows: $hero-square-width;
}

.synergy-list {
  display: grid;
  grid-template-columns: repeat(8, $chess-square-size);
  grid-auto-rows: $chess-square-size;
}

.synergy-item {
  display: flex;
  flex-flow: column wrap;
  .synergy-item-count {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.synergy-item-body {
  display: flex;
  flex-flow: column wrap;
  >* {
    flex: 1 1;
  }
}

@media (min-width: 640px) {
  $square: 80px;
  .chessboard-container {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    .chessboard {
      display: grid;
      grid-template-columns: repeat(8, minmax($square, 1fr));
      grid-template-rows: repeat(4, minmax($square, 1fr));
    }
  }
}

@media (min-width: 960px) {
  $square: 100px;
  .chessboard-container {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    .chessboard {
      display: grid;
      grid-template-columns: repeat(8, minmax($square, 1fr));
      grid-template-rows: repeat(4, minmax($square, 1fr));
    }
  }
}
