@import "./heroes.scss";
@import "./general.scss";
@import "./menu.scss";
$square-mobile: calc(100vw/8);
$square-synergy: calc(100vw/4);
html,
body,
.container {
  width: 100%;
  height: 100%;
}

#root {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 90px;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, $square-mobile)
}

.hidden {
  display: none;
}

.hero-list-container {
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100vh - 120px);
  overflow: scroll;
}

.chessboard {
  grid-row: auto / span 4;
  display: grid;
  grid-template-columns: repeat(8, $square-mobile);
  grid-template-rows: repeat(4, $square-mobile);
}

.focus-container {
  grid-row: auto / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  text-transform: capitalize;
  > strong {
    grid-column: auto / span 3;
  }
  > .active-container {
    grid-column: auto / span 2;
  }
  > .description-container {
    grid-column: auto / span 3;
  }
  > .absorbed-container {
    grid-column: auto / span 3;
  }
  > * {
    >div {
      border: 2px solid;
      padding: 5px;
      display: inline-block;
    }
  }
}

.synergy-container {
  grid-row: auto / span 2;
}

.hero-list {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.synergy-list {
  display: grid;
  grid-template-columns: repeat(8, $square-mobile);
  grid-auto-rows: $square-mobile;
}

.synergy-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .synergy-item-count {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.synergy-item-body {
  display: flex;
  flex-flow: column wrap;
  >* {
    flex: 1 1;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .hero-list-container {
    .hero-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1900px) {
  $square: calc(75vw/8);
  main {
    grid-template-columns: 75vw 1fr;
    grid-template-rows: repeat(6, $square);
    .chessboard {
      display: grid;
      grid-template-columns: repeat(8, $square);
      grid-template-rows: repeat(4, $square);
    }
    .focus-container {
      grid-row: auto / span 4;
      align-content: flex-start;
    }
    .synergy-list {
      grid-template-columns: repeat(8, $square);
      grid-auto-rows: $square;
    }
  }
  .hero-list-container {
    .hero-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 1901px) and (max-width: 2200px) {
  $square-desktop: 100px;
  header {
    label {
      display: none;
    }
  }
  main {
    grid-template-columns: 800px 400px 1fr;
    grid-template-rows: 400px 100px 1fr;
    .chessboard {
      grid-column: auto /span 1;
      grid-row: auto / span 1;
      display: grid;
      grid-template-columns: repeat(8, $square-desktop);
      grid-template-rows: repeat(4, $square-desktop);
    }
    .focus-container {
      grid-column: auto /span 1;
      grid-row: auto / span 1;
      align-content: flex-start;
    }
    .synergy-active {
      grid-column: auto /span 1;
      grid-row: auto / span 1;
      align-content: flex-start;
    }
    .hero-list-container {
      grid-column: auto /span 1;
      grid-row: auto / span 3;
      height: 1000px;
    }
    .synergy-container {
      grid-column: auto /span 1;
      grid-row: auto / span 1;
    }
  }
  .synergy-list {
    grid-template-columns: repeat(10, $square-desktop);
    grid-auto-rows: $square-desktop;
  }
  .hero-list-container {
    &.hidden {
      display: grid;
    }
    position: relative;
    .hero-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 2201px) {
  $square-desktop: 100px;
  header {
    label {
      display: none;
    }
  }
  main {
    grid-template-columns: 800px 400px 1fr;
    grid-template-rows: 400px 100px 1fr;
    .chessboard {
      grid-column: auto /span 1;
      grid-row: auto / span 1;
      display: grid;
      grid-template-columns: repeat(8, $square-desktop);
      grid-template-rows: repeat(4, $square-desktop);
    }
    .focus-container {
      grid-column: auto /span 1;
      grid-row: auto / span 1;
      align-content: flex-start;
    }
    .synergy-active {
      grid-column: auto /span 1;
      grid-row: auto / span 1;
      align-content: flex-start;
    }
    .hero-list-container {
      grid-column: auto /span 1;
      grid-row: auto / span 3;
      height: 1000px;
    }
    .synergy-container {
      grid-column: auto /span 1;
      grid-row: auto / span 1;
    }
  }
  .synergy-list {
    grid-template-columns: repeat(10, $square-desktop);
    grid-auto-rows: $square-desktop;
  }
  .hero-list-container {
    &.hidden {
      display: grid;
    }
    position: relative;
    .hero-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
